.People:hover{
background-color:  #8064A2;

}
.Place:hover{
    background-color: #77933C;
    
}
.Product:hover{
    background-color: #C0504D;
    
}
.Program:hover{
    background-color:  #0096C8;
    
}
.main1{
    display: flex;
    @media (max-width:767px) {
        display: grid;
    }
}
.main2{
    display: flex;
    @media (max-width:767px) {
        display: grid;
    }
}
.main{
    display: grid;
    @media (max-width:767px) {
        display: grid;
    }
}